@charset "UTF-8";body {
	background-color: #282828;
	width: 800px;
	margin: 20px auto 0 auto;
	font-family: Georgia,"Times New Roman",Times,serif;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
header {
	display: inline;
}
header #inyourface {
	font-size: 36px;
	font-weight: bold;
	color: white;
	text-shadow: 0 1px 0 #ccc,0 2px 0 #c9c9c9,0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15);
}
header p {
	float: right;
	text-shadow: 0 1px 0 #000;
	color: white;
}
nav,section {
	display: block;
	clear: both;
}
#mainNav li {
	width: 100px;
	display: inline-block;
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(#666666),to(#666666),color-stop(.6,#333));
	background-image: -moz-linear-gradient(19% 75% 90deg,#666666,#333 60%,#666666 100%);
	padding: 7px;
	text-align: center;
	color: white;
	font-size: 1.1em;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-shadow: 0 -1px 0 black;
	-webkit-box-shadow: 1px 1px 2px black;
	-moz-box-shadow: 1px 1px 2px black;
	-webkit-transition: -webkit-box-shadow 1s linear;
	-moz-transition: -moz-box-shadow 1s linear;
}
#mainNav li:active {
	-webkit-box-shadow: inset 1px 1px 2px black;
	-moz-box-shadow: inset 1px 1px 2px black;
}
#playZone {
	width: 400px;
	height: 400px;
	margin: 20px 0;
	border: 2px solid #CC6;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: rgba(59,21,14,0.75);
	padding: 50px;
	box-shadow: inset 5px 5px 15px black,inset -5px -5px 15px black;
	-moz-box-shadow: inset 5px 5px 15px black,inset -5px -5px 15px black;
	-o-box-shadow: inset 5px 5px 15px black,inset -5px -5px 15px black;
	-webkit-box-shadow: inset 5px 5px 15px black,inset -5px -5px 15px black;
	display: block;
	float: left;
}
.row {
	clear: both;
	border-top: 2px solid #CC6;
	width: 398px;
}
.row:first-child {
	border-top: none;
}
.cell {
	border-right: 2px solid #CC6;
	width: 130px;
	height: 130px;
	float: left;
	text-align: center;
	vertical-align: bottom;
}
.row > .cell:last-child {
	border-right: none;
}
aside {
	float: right;
	text-align: center;
}
#difficulty {
	margin-top: 50px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 2px solid black;
	font-size: 1.05em;
	background-image: -webkit-gradient(linear,0% 0%,0% 100%,from(rgba(201,201,201,0.5)),to(rgba(201,201,201,0.5)),color-stop(.5,rgba(174,174,174,0.85)));
	background-image: -moz-linear-gradient(19% 75% 90deg,#ababab,#c9c9c9,#c7c7c7 100%)
}
#difficulty li {
	padding: 8px;
	border-top: 1px solid black;
}
#difficulty > p > strong {
	text-shadow: 0 1px 0 white;
}
.selected {
	box-shadow: inset 2px 2px 5px black;
	-moz-box-shadow: inset 2px 2px 5px black;
	-webkit-box-shadow: inset 0px 0px 5px black;
	background-color: rgba(88,88,88,0.6);
	text-shadow: 0 -1px 0 white;
}
#information {
	background-color: rgba(0,0,0,0.3);
	padding: 15px;
	margin-top: 20px;
	width: 200px;
	color: white;
	font-size: 1.05em;
	text-shadow: 0 -1px 1px black;
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 10px 10px;
	-webkit-border-radius: 10px 10px;
	-moz-border-radius: 10px 10px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.5),inset 0 1px rgba(255,255,255,0.3),inset 0 10px rgba(255,255,255,0.2),inset 0 10px 20px rgba(255,255,255,0.25),inset 0 -15px 30px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5),inset 0 1px rgba(255,255,255,0.3),inset 0 10px rgba(255,255,255,0.2),inset 0 10px 20px rgba(255,255,255,0.25),inset 0 -15px 30px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5),inset 0 1px rgba(255,255,255,0.3),inset 0 10px rgba(255,255,255,0.2),inset 0 10px 20px rgba(255,255,255,0.25),inset 0 -15px 30px rgba(0,0,0,0.3);
}
#information > #announcement {
	font-weight: 900;
	font-size: 22px;
	font-variant: small-caps;
	text-align: center;
	border: 2px solid rgba(255,10,10,0.8);
	background-color: rgba(200,0,0,0.3);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: none;
}
footer {
	clear: both;
	font-size: 0.85em;
	text-align: center;
	display: block;
	color: white;
}
